@use '../variables' as *;
@use '../mixins' as *;

.main-layout {
  min-height: 100vh;
  padding-top: $header-height;
  
  &__content {
    margin-left: $sidebar-width;
    min-height: calc(100vh - $header-height);
    padding: $spacing-6;
    transition: margin-left $transition-normal;
    
    @include lg {
      margin-left: $sidebar-width;
    }
    
    @media (max-width: $breakpoint-lg) {
      margin-left: 0;
    }
  }
  
  &--sidebar-collapsed &__content {
    margin-left: $sidebar-collapsed;
  }
}

.studio-layout {
  min-height: 100vh;
  padding-top: $header-height;
  background: $bg-primary;
  
  &__content {
    @include flex-start;
    align-items: flex-start;
    min-height: calc(100vh - $header-height);
  }
  
  &__sidebar {
    position: sticky;
    top: $header-height;
    width: 240px;
    min-height: calc(100vh - $header-height);
    background: $bg-secondary;
    border-right: 1px solid $border-default;
    padding: $spacing-4;
    
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  
  &__main {
    flex: 1;
    padding: $spacing-6;
    max-width: 1200px;
  }
}

.auth-layout {
  min-height: 100vh;
  @include flex-center;
  background:  $bg-primary;
  padding: $spacing-4;
  
 
}

.page-header {
  margin-bottom: $spacing-6;
  
  &__title {
    font-size: $text-2xl;
    font-weight: $font-bold;
    margin-bottom: $spacing-2;
  }
  
  &__subtitle {
    color: $text-secondary;
    font-size: $text-base;
  }
}

