@use '../variables' as *;
@use '../mixins' as *;

.avatar {
	@include flex-center;
	flex-shrink: 0;
	border-radius: $radius-full;
	overflow: hidden;

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__fallback {
		width: 100%;
		height: 100%;
		@include flex-center;
		font-weight: $font-semibold;
		color: $text-secondary;
		text-transform: uppercase;
		background: $bg-tertiary;
	}

	// Sizes
	&--xs {
		width: 24px;
		height: 24px;
		font-size: $text-xs;
	}

	&--sm {
		width: 32px;
		height: 32px;
		font-size: $text-sm;
	}

	&--md {
		width: 40px;
		height: 40px;
		font-size: $text-base;
	}

	&--lg {
		width: 56px;
		height: 56px;
		font-size: $text-xl;
	}

	&--xl {
		width: 80px;
		height: 80px;
		font-size: $text-2xl;
	}

	&--2xl {
		width: 120px;
		height: 120px;
		font-size: $text-4xl;
	}
}
