.fixed-loader {
  position: fixed;
  inset: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.25); // опціонально: затемнення
  backdrop-filter: blur(1px);      // опціонально: блюр
}
