@use '../variables' as *;
@use '../mixins' as *;

.ui-text {
  font-family: $font-primary;
  margin: 0;

  &--ellipsis {
    @include text-ellipsis;
  }

  // tones
  &--primary { color: $text-primary; }
  &--secondary { color: $text-secondary; }
  &--muted { color: $text-muted; }
  &--danger { color: $error; }
  &--success { color: $success; }

  // weights
  &--normal { font-weight: $font-normal; }
  &--medium { font-weight: $font-medium; }
  &--semibold { font-weight: $font-semibold; }
  &--bold { font-weight: $font-bold; }

  // sizes (під твою систему)
  &--xs { font-size: $text-xs; }
  &--sm { font-size: $text-sm; }
  &--base { font-size: $text-base; }
  &--lg { font-size: $text-lg; }
  &--xl { font-size: $text-xl; }
  &--2xl { font-size: $text-2xl; }
  &--3xl { font-size: $text-3xl; }
  &--4xl { font-size: $text-4xl; }

  // line-heights
  &--tight { line-height: $leading-tight; }
  &--normallh { line-height: $leading-normal; }
  &--relaxed { line-height: $leading-relaxed; }
}
