@use 'variables' as *;
@use 'mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-size: $text-base;
  line-height: $leading-normal;
  color: $text-primary;
  background: $bg-primary;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  @include custom-scrollbar;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-semibold;
  line-height: $leading-tight;
}

h1 {
  font-size: $text-3xl;
}

h2 {
  font-size: $text-2xl;
}

h3 {
  font-size: $text-xl;
}

h4 {
  font-size: $text-lg;
}

p {
  color: $text-secondary;
}

a {
  color: inherit;
  text-decoration: none;
  
  &:hover {
    color: $primary-light;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
}

input,
textarea,
select {
  font-family: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}


ul,
ol {
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  width: 100%;
  max-width: $container-max;
  margin: 0 auto;
  padding: 0 $spacing-4;
}

::selection {
  background: rgba($primary, 0.3);
  color: $text-primary;
}

:focus-visible {
  outline: 2px solid $primary;
  outline-offset: 2px;
}

